<nav class="headerr">
  <div class="headerlayout">
 <h2>TwitterClone</h2>
 <nav>
 <ul class="top_menu clearfix">
      <li><%= link_to '新しく呟く', new_myword_path %></li>
      <li><%= link_to "一覧", mywords_path %></li>
 </ul>
</nav>
</div>
</nav>
